node_modules/
dist/renderer/
release/
.vite/
*.log
.DS_Store
Thumbs.db
图标/
超级座位图.apk
android/.gradle/
android/app/build/
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/local.properties
